@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dev.Build Coffee Shop!</h1>
    <h4>Filter by the type of food or drink you are looking for or view the full menu with the links below:</h4>
    <div class="menuOptionBlock">
        <a href="/Product/Index?category=HOT">
            <div class="menuOption">
                Hot Drinks
            </div>
        </a>
        <a href="/Product/Index?category=COLD">
            <div class="menuOption">
                Cold Drinks
            </div>
        </a>
        <a href="/Product/Index?category=FOOD">
            <div class="menuOption">
                Food
            </div>
        </a>
        <a href="/Product/Index?category=">
            <div class="menuOption">
                Full Menu
            </div>
        </a>
</div>
</div>
