@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Menu</h1>
<a href="/Admin/AddItemForm" class="btn btn-success">Add a New Menu Item</a>

@foreach (Product prod in Model)
{
    <div class="menuItem" id="admin">
        <h3 class="itemName">@prod.name</h3>
        <img class="itemPhoto" src="@prod.photo" />
        <p class="itemDescription">@prod.description</p>
        <div>
            <h6 class="itemPrice">$@prod.price</h6>
            <div class="adminButton">
                <a href="/Admin/EditItem?id=@prod.id" class="btn btn-primary">Edit</a>
                <a href="/Admin/DeleteCheck?id=@prod.id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
}